<section class="container">
  <h2 class="">Categories</h2>

  <ul class="list-group">
    <%= link_to "#", class: "d-flex border border-light-subtle align-items-center p-2 bg-white shadow-sm mt-2 list-group-item" do %>
      <div class="col-8 d-flex align-items-center">
        <span class="fa-solid fa-plug icon"></span>
        <span class="ms-4">Utility Bills</span>
      </div>
      <div class="col-4 ms-2">
        $18.00
      </div>
    <% end %>
  </ul>
</section>