<section>
  <div class="bg-primary text-white">
  <h2 class="h5 text-center py-4">NEW CATEGORY</h2>
  </div>
  <div class="container">
    <%= form_with model: @category, url: groups_path do |form| %>
      <%= 
        form.text_field :name,
        placeholder: "Enter category name. Eg. Entertainment",
        class: "form-control"
      %>
      <%= 
        form.text_field :icon,
        placeholder: "Choose a category icon",
        class: "form-control"
      %>
      <%= form.submit "Create Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>