<section>
 <div class="bg-primary text-white">
  <h2 class="h5 text-center py-4">TRANSACTIONS</h2>
 </div>
 <div class="d-flex justify-content-between bg-white px-4 py-2">
  <span class="text-muted">Category name</span>
  <span class="fw-bold">$100.00</span>
 </div>
<div class="container">
   <ul class="list-group">
    <%  @category_expenses.each do |expense| %>
      <li class="d-flex border border-light-subtle align-items-start bg-white shadow-sm mt-2 list-group-item">
        <div class="col-8">
          <p><%= expense.name %></p>
        </div>
        <div class="text-end col-4 ms-2">
          <p class="fw-semibold">$<%= expense.amount %></p>
        </div>
      <% end %>
    </li>
  </ul>
</div>
 <div class="fixed-bottom d-flex justify-content-center align-items-center bg-green p-4">
  <%= link_to "ADD A NEW EXPENSE", new_group_expense_path(@group), class: "btn text-white border border-light" %>
 </div>
</section>